* {
    margin: 0;
    padding: 0;
    background-color:black;
    color: white;
    font-family: 'Righteous';
}

/* index */

header {
    text-align: center;
}

header img {
    max-width: 100%;
}

.btn {
    background-color: #496F70;
    text-transform: uppercase;
    padding: 8px 40px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    padding: 10px 40px;
    font-size: 23px;
}

/* NAV */

.logo {
    max-width: 100%;
    width: 200px;
    float: left;
}

nav {
    height: 100px;
    text-align: right;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding-right: 40px;
}

nav a:hover {
    text-transform: uppercase;
}

/* Front Page */

.exploretogether h1 {
    color: #496F70;
}

